footer {
    background-color: #a2a3a8;
    margin-bottom: 0vh;
    margin-top: auto;
    grid-area: rosa;
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    ul {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 80em;
        padding: .5em;

        & li a>img {
            height: 2em;
            width: auto;
        }
    }

    p{
        text-align: center;
        color: $secondary;
        font-family: $font-primary;
        margin-bottom: auto;
        font-size: 1.2em;
    }

}