.muestras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto auto 3em auto;
    max-width: 100%;

    article{
        margin: 0 .5em;
        padding: .2em;
    }

    figcaption {
        color: $secondary;
        font-family: $font-primary;
        font-weight: 200;
        font-size: 1.2em;
        font-style: italic;
        margin: .4em 0em 0em 0em;
    }

    &__imagen{
        height: 25em;
        width: auto;
    }

}

.desarrollo {
    margin: auto;
    max-width: 100em;

    h2 {
        color: $thirdly;
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 2.2em;
        text-align: left;
        margin: 1em auto 1em 2em;
    }

    p { /*mixin*/
        @include bloque_texto;
        margin: auto 3em 2em 3em;
    }

}

video {
    display: block;
    margin: 2em auto;
    opacity: 80%;
    padding: .2em;
    background-color: $thirdly;
    box-shadow: .3em .3em 2em $thirdly;
}
@media screen and (max-width: 1280px) {

    .muestras{
        &__imagen{
            height: 23em;
            width: auto;
        }
    }
    
}

@media screen and (max-width: 1190px) {

    .muestras{
        article {
            margin: 0 .5em;
        }
        &__imagen{
            height: 20em;
            width: auto;
        }
    }

    .desarrollo {
        margin: auto;
        max-width: 80em;
    }

    video {
        width: 300px;
        height: auto;
    }

}

@media screen and (max-width: 930px) {
    .muestras{

        &__imagen{
            height: 15em;
            width: auto;
        }

    }

    video{
        width: 500px;
        margin: auto;
    }

}

@media screen and (max-width: 768px) {

    .muestras {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto auto 2em auto;

        &__imagen{
            height: 30em;
            width: auto;
        }

    }

    video {
        width: 450px;
    }

}

@media screen and (max-width: 480px) {
    .muestras{

        &__imagen {
            height: 25em;
            width: auto;
        }

    }

    video {
        width: 310px;
    }
}

@media screen and (max-width: 320px) {

    .muestras{

        &__imagen{
            height: 20em;
            width: auto;
        }

    }

    video {
        width: 310px;
    }

}
