$principal: #d9d2d0;
$secondary: #012340;
$thirdly: #59443f;

$font-primary: 'Petrona', serif;
$font-secondary: 'Poppins', sans-serif;

// mixin //
@mixin bloque_texto {
    color: $secondary;
    font-family: $font-primary;
    font-weight: 300;
    font-size: 1.4em;
    font-style: italic;
}
// map //
$borderColor:(
    borderOne: #55443f7c,
    borderTwo: $thirdly,
    borderThree: $secondary
);
@each $borderColor, $value in $borderColor {
    .border--#{$borderColor}{
        background-color: $value;
        padding: .2em;
    }
}
// map get//
$style:(
    padding: .3em,
    background: $secondary
);